.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    // Positioning
    position: fixed;
    top: 6rem;
    right: 6rem;
    // Box-model
    height: 7rem;
    width: 7rem;
    // Visual
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    // Misc
    z-index: 1200;
  }

  &__background {
    // Positioning
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // Box-model
    height: 6rem;
    width: 6rem;
    // Visual
    background: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    // Misc
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &__nav {
    // Positioning
    position: fixed;
    top: 0;
    left: 0;
    // Box-model
    height: 100vh;
    width: 0;
    // Visual
    opacity: 0;
    // Misc
    z-index: 1100;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    // Positioning
    position: absolute;
    top: 50%;
    left: 50%;
    // Box-model
    width: 100%;
    // Visual
    text-align: center;
    list-style: none;
    // Misc
    transform: translate(-50%, -50%);
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      // Box-model
      display: inline-block;
      padding: 1rem 2rem;
      // Typography
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      // Visual
      color: $color-white;
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      // Misc
      transition: all 0.4s;
    }

    &:active,
    &:hover {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }
}
